.MainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}
.Container {
  width: 88px;
  height: 28px;
  display: flex;
  justify-content: center;
  background: #C9A7EB;
  padding-top: 3px;
  border-radius: 300px;
  cursor: grab;
}